<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id        = "org.demo.PolymerDartDemo"
        version   = "0.0.1">
    <name>PolymerDartDemo</name>

    <description>
        Plain text description of this app
    </description>

    <author>
        Author name and email
    </author>

    <content src="chrome-extension://undefined/chromeapp.html" />

</widget>
